arabic-reshaper==3.0.0
asgiref==3.7.2
asn1crypto==1.5.1
async-generator==1.10
attrs==23.1.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cryptography==40.0.2
cssselect2==0.7.0
Django==4.2.1
exceptiongroup==1.1.1
h11==0.14.0
html2text==2020.1.16
html5lib==1.1
idna==3.4
lxml==4.9.2
oscrypto==1.3.0
outcome==1.2.0
packaging==23.1
Pillow==9.5.0
pycparser==2.21
pyHanko==0.18.1
pyhanko-certvalidator==0.22.0
pyhtml2pdf==0.0.6
pypdf==3.8.1
pypng==0.20220715.0
PySocks==1.7.1
python-bidi==0.4.2
python-dotenv==1.0.0
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
qrcode==7.4.2
reportlab==3.6.13
requests==2.30.0
selenium==4.9.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
sqlparse==0.4.4
svglib==1.5.1
tinycss2==1.2.1
tqdm==4.65.0
trio==0.22.0
trio-websocket==0.10.2
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
uritools==4.0.1
urllib3==1.26.15
webdriver-manager==3.8.6
webencodings==0.5.1
wsproto==1.2.0
xhtml2pdf==0.2.11
psycopg2-binary==2.9.3
ratelimit
requests