{% extends 'base.html' %}

{% block content %}

{% load custom_tags %}

{{x}}
{% for o in x %}
	{{o}}
{% endfor %}

<table>
	<thead>
		<tr>
			<th>World</th>
			<th>NQ #<br/>Listed</th>
			<th>NQ #<br/>Sold</th>
			<th>NQ <br/>Listed <br/>Low</th>
			<th>NQ <br/>Last <br/>Sold For</th>

			<th>HQ #<br/>Listed</th>
			<th>HQ #<br/>Sold</th>
			<th>HQ <br/>Listed <br/>Low</th>
			<th>HQ <br/>Last <br/>Sold For</th>

		</tr>
	</thead>
	<tbody>
		{% for world_name, fact in facts.items %}
		<tr>
			<td>{{world_name}}</td>
			<td>{{fact.nq_list_count|default_if_none:''}}</td>
			<td>{{fact.nq_sold_count|default_if_none:''}}</td>
			<td>{{fact.nq_list_low|default_if_none:''}}</td>
			<td>{{fact.nq_last_sold_value|default_if_none:''}}</td>


			<td>{{fact.hq_list_count|default_if_none:''}}</td>
			<td>{{fact.hq_sold_count|default_if_none:''}}</td>
			<td>{{fact.hq_list_low|default_if_none:''}}</td>
			<td>{{fact.hq_last_sold_value|default_if_none:''}}</td>


		</tr>
		{% endfor %}
	</tbody>




</table>



<h1>{{item_summary.name}}</h1>
{{item_summary.guid}}<br/>
{{item_summary.icon}}<br/>

Job(s): {{item_summary.jobs}}<br/>
Can be HQ: {{item_summary.can_be_hq}}<br/>
Stack size: {{item_summary.stack_size}}<br/>
Dyeable: {{item_summary.is_dyeable}}<br/>
Glamourous: {{item_summary.is_glamourous}}<br/>
Tradeable: {{item_summary.is_untradable}}<br/>
Unique: {{item_summary.is_unique}}<br/>
Category: {{item_summary.ui_category}}<br/>

Vendor Price: {{item_summary.vendor_price}}<br/>




{{item_summary.northamerica_listings_updated_at}}
{{item_summary.northamerica_sales_updated_at}}
{{item_summary.universalis_unresolved}}

<h3>Recent Sales:</h3>
<ul>
{% for sale in item_summary.sales %}
	<li>
		{{sale.region}}-{{sale.world}} {{sale.price_per_unit}} x {{sale.quantity}} by {{sale.buyer_name}} on {{sale.sold_at}}
	</li>	
{% endfor %}
</ul>

<h3>Current Listings:</h3>
<ul>
{% for listing in item_summary.listings %}
	<li>
		{{listing.region}}-{{listing.world}} {{listing.price_per_unit}} x {{listing.quantity}} by {{listing.retainer_name}} as of {{listing.created_at}}
	</li>	
{% endfor %}
</ul>

<h3>Recipe(s):</h3>

{% autoescape off %}
{% render_recipes item_summary %}
{% endautoescape %}

{% endblock content %}